@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()
        <div class="pull-right">
            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Index", "RolesAdmin")" class="fa fa-tags fa-2x text-success" title="Gestione ruoli"></a>
                <a href="@Url.Action("Index", "UsersAdmin")" class="fa fa-users fa-2x text-success" title="Gestione utente"></a>
            }
            @if (User.IsInRole("Admin") || User.IsInRole("Preside"))
            {
                <a href="@Url.Action("Statistiche", "Punteggis")" class="fa fa-tachometer fa-2x text-success" title="Statistiche"></a>

            }
            <a href="@Url.Action("Index", "Quesitis")"><img class="img-tornei-menu" src="~/Content/Immagini/GonfaloneP.png" /></a>

            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            <a href="javascript:document.getElementById('logoutForm').submit()"><span class="fa fa-sign-out fa-2x text-danger"></span></a>
        </div>

    }
}
else
{
    <div class="pull-right">
        @*<li>@Html.ActionLink("Registrazione", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <a href="@Url.Action("Regolamento", "Home")"><span class="fa fa-info-circle fa-2x"></span></a>
        @Html.ActionLink(" ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "fa fa-sign-in fa-2x" })
    </div>
}
