@model IEnumerable<ConcordesSemper.Models.Case>

@{
    ViewBag.Title = "Home";
}
<!---Questito acquisizione punti-->
@if (ViewBag.Quesiti > 0)
{
    <div>

        <a class="quesitoHome" href="@Url.Action("IndexUt", "Quesitis")">
            <img src="~/Content/Immagini/Gonfalone.png" />

        </a>
    </div>

}

<table class="table table-responsive">
    <tr>

        @foreach (var item1 in ViewBag.AC)
        {

            foreach (var item in Model.GroupBy(a => a.Nome).
                Select(a => new
                {
                    casa = a.Key,
                    punti = a.Sum(p => p.Punteggis.Sum(s => s.Punti)) +
                a.Sum(p => p.Punteggis.Sum(s => s.Comportamento)) +
                a.Sum(p => p.Punteggis.Sum(s => s.Dimenticanze)) +
                a.Sum(p => p.Punteggis.Sum(s => s.Varie)) +
                a.Sum(p => p.Punteggis.Sum(s => s.GrandiG)) +
                a.Sum(p => p.Punteggis.Sum(s => s.OeP))
                }).
                Where(c => c.casa == item1.Nome).
                OrderBy(o => o.punti))
            {
                <td class="text-center">

                    @if (@item.punti == @ViewBag.Punti)
                    {
                        <a href="@Url.Action("Content", "Cases", new {id = @item1.Casa_Id})">
                            <img class="img-responsive img-stemma-home" src="@Url.Content("~/Content/Immagini/" + @item1.Casa_Id + "W.png")" />
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Content", "Cases", new {id = @item1.Casa_Id})">
                            <img class="img-responsive img-stemma-home" src="@Url.Content("~/Content/Immagini/" + @item1.Casa_Id + ".png")" />
                        </a>
                    }

                        <div class="h2">
                            <span class="txt-ombra">@item.punti</span>
                            @if (User.IsInRole("Admin"))
                            {

                                <a href="@Url.Action("Assegna", "Punteggis", new {casa = @item1.Casa_Id})"><span class="fa fa-plus-circle"></span></a>
                                <!-- Button trigger modal Alunni -->
                                <a href="#alunno" data-toggle="modal">
                                    <span class="fa fa-user"></span>

                                </a>
                            }

                            @if (User.IsInRole("Insegnante"))
                            {

                                <a href="@Url.Action("AssegnaI", "Punteggis", new {casa = @item1.Casa_Id})"><span class="fa fa-plus-circle"></span></a>
                                <!-- Button trigger modal Alunni -->
                                <a href="#alunno" data-toggle="modal"><span class="fa fa-user"></span>
                                    
                                </a>

                            }
                        </div>
                    <!-- Modal selezione casa tramite elenco alunni -->
                    <div class="modal fade" id="alunno" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Cerca a quale casa è assegnato l'alunno</h4>
                                </div>
                                <div class="modal-body h5">
                                    <table class="table tbl1 table-responsive">
                                        @foreach (var itemA in ViewBag.Alunno)
                                        {
                                            <tr>
                                                <td>
                                                    @if (User.IsInRole("Admin"))
                                                    {
                                                        <a href="@Url.Action("Assegna", "Punteggis", new {casa = itemA.Casa_Id })"><span>@itemA.Cognome @itemA.Nome</span></a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Action("AssegnaI", "Punteggis", new {casa = itemA.Casa_Id })"><span>@itemA.Cognome @itemA.Nome</span></a>

                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </td>                   

            }
        }

    </tr>
    <tr>

        @foreach (var item1 in ViewBag.FF)
        {

            foreach (var item in Model.GroupBy(a => a.Nome).
                Select(a => new
                {
                    casa = a.Key,
                    punti = a.Sum(p => p.Punteggis.Sum(s => s.Punti)) +
                a.Sum(p => p.Punteggis.Sum(s => s.Comportamento)) +
                a.Sum(p => p.Punteggis.Sum(s => s.Dimenticanze)) +
                a.Sum(p => p.Punteggis.Sum(s => s.Varie)) +
                a.Sum(p => p.Punteggis.Sum(s => s.GrandiG)) +
                a.Sum(p => p.Punteggis.Sum(s => s.OeP))
                }).
                Where(c => c.casa == item1.Nome).
                OrderBy(o => o.punti))
            {
                <td class="text-center">

                    @if (@item.punti == @ViewBag.Punti)
                    {
                        <a href="@Url.Action("Content", "Cases", new {id = @item1.Casa_Id})">
                            <img class="img-responsive img-stemma-home"  src="@Url.Content("~/Content/Immagini/" + @item1.Casa_Id + "W.png")" />
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Content", "Cases", new {id = @item1.Casa_Id})">
                            <img class="img-responsive img-stemma-home" src="@Url.Content("~/Content/Immagini/" + @item1.Casa_Id + ".png")" />
                        </a>
                    }

                    <div class="h2">
                        <span class="txt-ombra">@item.punti</span>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Assegna", "Punteggis", new {casa = @item1.Casa_Id})"><span class="fa fa-plus-circle"></span></a>
                                 <!-- Button trigger modal Alunni -->
                            <a href="#alunno" data-toggle="modal">
                                <span class="fa fa-user"></span>

                            </a>
                        }

                        @if (User.IsInRole("Insegnante"))
                        {

                            <a href="@Url.Action("AssegnaI", "Punteggis", new {casa = @item1.Casa_Id})"><span class="fa fa-plus-circle"></span></a>
                                 <!-- Button trigger modal Alunni -->
                            <a href="#alunno" data-toggle="modal">
                                <span class="fa fa-user"></span>

                            </a>
                        }
                    </div>
                </td>

            }
        }

    </tr>
</table><hr class="hr1" />

<div class="text-center">
    <img class="img-responsive" src="~/Content/Immagini/ConcordesVert.png" />
</div>
@section Scripts{

    <script src="~/Scripts/jquery.filtertable.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.tbl1').filterTable();
        });
    </script>
}