@model ConcordesSemper.Models.Quesiti

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Quesiti</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Valore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domanda_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domanda_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Risposta_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Risposta_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domanda_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domanda_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Risposta_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Risposta_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domanda_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domanda_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Risposta_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Risposta_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domanda_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domanda_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Risposta_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Risposta_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domanda_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domanda_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Risposta_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Risposta_5)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ParolaChiave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParolaChiave)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.DataI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pubblica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pubblica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Quesito_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
